{% extends 'base.html.twig' %}

{% block title %}Liste des Clients{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">Détails</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class=" text-center m-auto">
        <a class="btn btn-lg btn-primary" href="{{ path('client_new') }}">Ajouter un client</a>
    </div>
{% endblock %}
